{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    </head>
    <body>
        <h1>
            Hello, World!
        </h1>
        <div id="app">
          <input v-model="newTodo" v-on:keyup.enter="addTodo">
          <ul>
            <li v-for="todo in todos">
              {% verbatim %}<span>{{ todo.text }}</span>{% endverbatim %}
              <button v-on:click="removeTodo($index)">X</button>
            </li>
          </ul>
        </div>
        <script type="text/javascript">
            new Vue({
              el: '#app',
              data: {
                newTodo: '',
                todos: [
                  { text: 'Add some todos' }
                ]
              },
              methods: {
                addTodo: function () {
                  var text = this.newTodo.trim()
                  if (text) {
                    this.todos.push({ text: text })
                    this.newTodo = ''
                  }
                },
                removeTodo: function (index) {
                  this.todos.splice(index, 1)
                }
              }
        })
        </script>
    </body>
</html>



